* {
  box-sizing: border-box;
}

.big-button {
  display: flex;
  width: 29%;
  justify-content: space-between;
  align-content: center;
  margin-left: 34%;
  margin-right: 30%;
  padding: 20px;
  cursor: pointer;
}
.big-button:hover {
  background-color: rgb(31, 30, 30);
  color: white;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 50px;
}

.button {
  border: none;
  background-color: white;
  color: grey;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: solid 5px orange;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 100px;
  margin-bottom: 50px;
}

.text {
  font-size: 22px;
  margin-left: 5%;
  padding-left: 50px;
  padding-right: 150px;
}

.button-icon {
  color: white;
}

.author-text {
 font-weight: bold;
}

.gendre-text {
  font-size: small;
}